agent/n8n/workflow-postdeploy.json
{
  "name": "Oracle Graph DBA Advisor — Post-Deploy Verification",
  "nodes": [
    {
      "parameters": {
        "path": "postdeploy",
        "httpMethod": "POST",
        "authentication": "headerAuth",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "position": [200, 300],
      "typeVersion": 2
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are an Oracle Graph DBA Advisor. Load SYSTEM_PROMPT.md for full instructions."
        },
        "text": "Connect to {{ $json.body.environment }}.\nA change was deployed: {{ $json.body.changes }}\n1. Search memory/{{ $json.body.environment }}/recommendation-log.md for the recommendation that led to this change\n2. Run the affected queries and capture current execution plans\n3. Compare with the baseline (before the change)\n4. Measure the actual improvement\n5. Update the recommendation status to VERIFIED with the measured outcome\n6. If the improvement is significant (>30%), add it to memory/shared/learned-patterns.md"
      },
      "id": "ai-agent",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [450, 300],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "model": "claude-sonnet-4-20250514",
        "options": {
          "maxTokensToSample": 4096
        }
      },
      "id": "anthropic-model",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "position": [450, 500],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "name": "run_sql",
        "description": "Execute a SQL query against the connected Oracle database. Use this for all diagnostic queries from sql-templates/.",
        "command": "={{ '/opt/sqlcl/bin/sql -S ' + ($json.body.environment || 'MyADB') + ' <<< \"' + $input.sql.replace(/\"/g, '\\\\\"') + '\"' }}"
      },
      "id": "run-sql-tool",
      "name": "Run SQL Tool",
      "type": "@n8n/n8n-nodes-langchain.toolCustom",
      "position": [650, 500],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "={{ $json.body.callback_url || $env.SLACK_WEBHOOK_URL }}",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: '✅ *Post-Deploy Verification Complete*\\n\\nEnvironment: ' + ($json.body.environment || 'unknown') + '\\nChanges: ' + ($json.body.changes || 'unknown') + '\\n\\n' + $json.output }) }}"
      },
      "id": "notify-results",
      "name": "Notify Results",
      "type": "n8n-nodes-base.httpRequest",
      "position": [700, 300],
      "typeVersion": 4.2
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [{ "node": "AI Agent", "type": "main", "index": 0 }]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]
      ]
    },
    "Run SQL Tool": {
      "ai_tool": [
        [{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]
      ]
    },
    "AI Agent": {
      "main": [
        [{ "node": "Notify Results", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
