agent/n8n/workflow-chat.json
{
  "name": "Oracle Graph DBA Advisor — Chat",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "chat-trigger",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [200, 300],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "={{ $json.systemPrompt || 'You are an Oracle Graph DBA Advisor. Load SYSTEM_PROMPT.md for full instructions.' }}"
        }
      },
      "id": "ai-agent",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [450, 300],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "model": "claude-sonnet-4-20250514",
        "options": {
          "maxTokensToSample": 4096
        }
      },
      "id": "anthropic-model",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "position": [450, 500],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "name": "run_sql",
        "description": "Execute a SQL query against the connected Oracle database. Use this for all diagnostic queries from sql-templates/. Input: the SQL statement to execute.",
        "command": "={{ '/opt/sqlcl/bin/sql -S ' + ($json.connection || 'MyADB') + ' <<< \"' + $input.sql.replace(/\"/g, '\\\\\"') + '\"' }}"
      },
      "id": "run-sql-tool",
      "name": "Run SQL Tool",
      "type": "@n8n/n8n-nodes-langchain.toolCustom",
      "position": [650, 500],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Chat Trigger": {
      "main": [
        [{ "node": "AI Agent", "type": "main", "index": 0 }]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]
      ]
    },
    "Run SQL Tool": {
      "ai_tool": [
        [{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
